.form {
    display: flex;
    flex-direction: column;
}

.inputListsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.inputList {
    width: 49%;
    height: 30vh;
}

@media (max-width: 680px) {
    .inputListsBox {
        justify-content: start;
    }

    .inputList {
        width: 100%;
    }
    .inputList:first-child {
        margin-bottom: 10px;
    }
}

.resultList {
    height: 30vh;
    width: 100%;
}

.modeSelectors {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.btn {
    width: 200px;
}

.copyBtn {
    width: 200px;
    margin-top: 3px;
    margin-left: auto;
}