.form {
    display: flex;
    flex-direction: column;
}

.inputListsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inputList {
    width: 465px;
    height: 30vh;
}

.resultList {
    height: 30vh;
    width: 960px;
}

.modeSelectors {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.submitBtn {
    width: 200px;
}