.container {
    display: flex;
    flex-direction: column;
    width: 960px;
    margin: 0 auto;
    padding-top: 20px;
}

.inputListsBox {
    display: flex;
    flex-wrap: wrap;
}

.inputList,
.resultList {
    resize: none;
    width: 465px;
    height: 400px;
}

.resultList {
    height: 0;
    width: 960px;
    overflow-y: hidden;
    padding: 0;
    border: none;
    transition-property: height;
    transition-duration: .3s;
}

.resultList_visible {
    height: 400px;
    overflow-y: auto;
    border: 1px solid black;
}

.inputList:first-child {
    margin-right: 18px;
}

.modeSelectors {
    display: flex;
    flex-direction: column;
}