.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.textareaSpanBox {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    width: 100%;
    position: relative;
}

.textarea {
    height: 60vh;
}


.stat {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #179400;
}

