@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap');

:root {
    --black: #000000;
    --white: #fff;
    --gray: #ccc;
    --green: #179400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    padding-bottom: 100px;
}

.button {
    padding: 10px;
    border: 2px solid var(--black);
    background-color: transparent;
    outline: none;
    transition-property: background-color, color, transform;
    transition-duration: 300ms;
}

.button:hover {
    color: var(--white);
    background-color: var(--black);
}

.button:active {
    transition-duration: 100ms;
    transform: translateY(2px);
}

.container {
    margin: 0 auto;
    max-width: 1120px;
    padding: 0 80px;
}

@media (max-width: 550px) {
    .container {
        margin: 0 auto;
        padding: 0 15px 70px;
    }
}

a {
    text-decoration: none;
}