.menu {
    background-color: var(--black);
    height: 100%;
    width: 300px;
    padding: 70px 15px;
    position: fixed;
    transition-property: transform;
    transition-duration: .3s;
    transform: translateX(-300px);
    z-index: 5;
}

.menu_opened {
    transform: translateX(0);
}

@media (max-width: 550px) {
    .menu {
        width: 100%;
        transform: translateX(-100%);
        padding: 70px 60px;
    }

    .menu_opened {
        transform: translateX(0);
    }
}

.dimmer {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    opacity: 50%;
    z-index: 2;
}

.link {
    color: var(--white);
    text-align: center;
}

.link_current {
    color: var(--gray);
}

@media (max-width: 550px) {
    .ul {
        text-align: center;
    }
}

.li {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.li:not(:last-child) {
    margin-bottom: 20px;
}

.li:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--white);
    transition-property: transform;
    transition-duration: .5s;
    transform: scaleX(0);
}

.li_current:after {
    transform: scaleX(1);
}

.li:hover:after {
    transform: scaleX(1);
}

.mobileHeaderMenu {
    display: none;
    height: 60px;
    width: 100%;
    background-color: var(--black);
}
@media (max-width: 550px) {
    .mobileHeaderMenu {
        display: block;
    }

    .burger {
        display: none;
    }
}