.form {
    display: flex;
}

@media (max-width: 680px) {
    .form {
        flex-direction: column;
    }
}

.block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.block:not(:last-child) {
    margin-right: 30px;
}

.templateInput {
    margin-bottom: 10px;
}

.textarea {
    height: 60vh;
}

@media (max-width: 680px) {
    .textarea {
        white-space: pre;
        overflow-x: hidden;
    }
    .templateInput {
        font-size: 14px;
    }
}

.btn {
    margin-left: auto;
    margin-top: 10px;
    padding: 10px;
}